{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-10">
        <div class="card mb-3">
            <div class="card-header"><h5 class="mb-0"><i class="fa-regular fa-calendar"></i> Permanences & HelloAsso</h5></div>
            <div class="card-body">
                {{ form_row(form.permanencesTexte) }}
                {{ form_row(form.lienHelloasso) }}
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header"><h5 class="mb-0"><i class="fa-regular fa-address-card"></i> Contact</h5></div>
            <div class="card-body">
                {{ form_row(form.contactNom) }}
                {{ form_row(form.contactEmail) }}
                {{ form_row(form.contactTexte) }}
                {{ form_row(form.contactPhoto) }}
            </div>
        </div>
    </div>
</div>
<div class="mt-3">
    <button class="btn btn-primary"><i class="fa-solid fa-save"></i> {{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
