<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<div class="login-container">
    <div class="login-card">
        <div class="login-logo-container">
            <img src="{{ asset('images/Logo_60ans.png') }}" alt="Angers Nat Synchro" class="login-logo">
        </div>
        <h1 class="login-title">Connexion</h1>

        <form method="post" class="login-form">

            {% if error %}
                <div class="login-alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="login-info">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% endif %}

            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="login-input" autocomplete="email" required autofocus>

            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="login-input" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <button class="login-btn" type="submit">
                Se connecter
            </button>


        </form>
    </div>
</div>
</body>
</html>
