{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>Evenement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdEvenement</th>
                <th>Nom</th>
                <th>DateEvenement</th>
                <th>Images</th>
                <th>Description</th>
                <th>Horaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.idEvenement }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.dateEvenement ? evenement.dateEvenement|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.images }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.horaire ? evenement.horaire|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_evenement_show', {'id': evenement.idEvenement}) }}">show</a>
                    <a href="{{ path('app_admin_evenement_edit', {'id': evenement.idEvenement}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_evenement_new') }}">Create new</a>
{% endblock %}
