{% extends 'admin_base.html.twig' %}
{% block title %}Détails du Type{% endblock %}
{% block page_title %}Détails du Type{% endblock %}
{% block breadcrumb %}<span>Administration</span> / <a href="{{ path('app_admin_type_evenement_index') }}">Types</a> / <span>Détails</span>{% endblock %}
{% block body %}
<div class="card" style="max-width: 800px; margin: 0 auto;">
    <div class="card-header">
        <h2 class="card-title">{{ typeEvenement.nomType }}</h2>
        <div style="display: flex; gap: 0.5rem;">
            <a href="{{ path('app_admin_type_evenement_index') }}" class="btn btn-secondary"><i class="fa-solid fa-arrow-left"></i> Retour</a>
            <a href="{{ path('app_admin_type_evenement_edit', {'idTypeEvenement': typeEvenement.idTypeEvenement}) }}" class="btn btn-warning"><i class="fa-solid fa-pen"></i> Modifier</a>
            {{ include('admin_type_evenement/_delete_form.html.twig') }}
        </div>
    </div>
    <table class="table">
        <tbody>
            <tr><th style="width: 30%;">Id</th><td>{{ typeEvenement.idTypeEvenement }}</td></tr>
            <tr><th>Nom</th><td>{{ typeEvenement.nomType }}</td></tr>
        </tbody>
    </table>
</div>
{% endblock %}
