{% extends 'base.html.twig' %}

{% block title %}Photo{% endblock %}

{% block body %}
    <h1>Photo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdPhoto</th>
                <td>{{ photo.idPhoto }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ photo.titre }}</td>
            </tr>
            <tr>
                <th>CheminImage</th>
                <td>{{ photo.cheminImage }}</td>
            </tr>
            <tr>
                <th>DatePhoto</th>
                <td>{{ photo.datePhoto ? photo.datePhoto|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_photo_index') }}">back to list</a>

    <a href="{{ path('app_admin_photo_edit', {'idPhoto': photo.idPhoto}) }}">edit</a>

    {{ include('admin_photo/_delete_form.html.twig') }}
{% endblock %}
