{% extends 'base.html.twig' %}

{% block title %}Actualités
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/actualites.css') }}">

	<div class="actualite-show-container">
        <h2>{{ actualite.titre }}</h2>
        {% if actualite.images %}
            <img src="{{ asset('images/' ~ actualite.images) }}" alt="{{ actualite.titre }}" class="actualite-image">
        {% endif %}
        <p>{{ actualite.description }}</p>
        <span class="card-date">{{ actualite.date ? actualite.date|date('d/m/Y') : '' }}</span>
        <a href="{{ path('app_actualites') }}" class="btn-back">
            <i class="bi bi-arrow-left"></i> Retour aux actualités
        </a>
	</div>
    
{% endblock %}
